<div class="cart_form_container">
  <%= form_for @cart, url: carts_path(@cart), html: {class: "cart_form"} do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %> 
  <br>
  <%= f.label "Minimum Payment $" %>
  <%= f.number_field :minimum_payment %>
  <br>
  <%= f.label "Due Date" %>
  <%= f.date_field :expiry %>
  <br>
  <%= f.submit "Next" %>
  <% end %>
</div>