
<ul id="product-list" class="collection">
<% if @products.size == 0 %>
  <p>No product yet.</p>
<% else %>
  <% @products.each do |product| %>
    <li class="collection-item avatar">
      <% if product.image.nil? %>
        <i class="material-icons circle green">insert_chart</i>
      <% else %>
        <img src="<%= product.image %>" alt="" class="circle">
      <% end %>
      <%= link_to product.display_name, product.url %>
      <p>
      <%= format_price(product.price) %> x <%= product.quantity %>
      </p>
      <p><%= link_to 'Edit', edit_carts_product_path(@cart, product) %> | <%= link_to 'Remove', carts_product_path(@cart, product), data: {:confirm => 'Are you sure?'}, :method => :delete  %></p>

      <a href="<%= product.url %>" target="_blank" class="secondary-content"><i class="material-icons">open_in_new</i></a>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to 'Add product', new_carts_product_path(@cart) %>