<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<!-- <%= @cart.cart_roles %> -->

<h1>List of contributors</h1>
<% @contributors.each do |user| %>
  <span><%= User.find(user.user_id).name %>:
  <%= Role.find(user.role_id).role_text %></span>

  <% if CartRole.find(user.id).role_id == 2 && CartRole.where(user_id: current_user.id, cart_id: @cart.id, role_id: 1).size > 0 %>
    <%= link_to "Remove User", remove_user_path(User.find(user.user_id)), method: :delete, data: {confirm: "Remove #{User.find(user.user_id).name} from this cart?"} %>
  <% end %>
  <br>
<% end %>
<br>
<button data-key= <%= @cart.key %> class="FBInvite">Invite through Facebook</button>

<a data-key=<%= @cart.key %> class="inviteLink">Invite Link</a>