<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<!-- <%= @cart.cart_roles %> -->
<h2>CDN$ <%= @cart_total %></h2>

<h1>List of products</h1>
<ul id="product-list">
<% if @products.size == 0 %>
  <p>No product yet.</p>
<% else %>
  <% @products.each do |product| %>
    <li>
      <h2><%= link_to product.display_name, product.url %> <%= @amazon.find{ |i| i["ASIN"] == product.external_id }["OfferSummary"]["LowestNewPrice"]["FormattedPrice"] %> x <%= product.quantity %></h2>
      <p><%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Remove', cart_product_path(@cart, product), data: {:confirm => 'Are you sure?'}, :method => :delete  %></p>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to 'Add product', new_cart_product_path(@cart) %>
<hr>

<h1>List of contributors</h1>
<% @contributors.each do |user| %>
  <span><%= User.find(user.user_id).name %>:
  <%= Role.find(user.role_id).role_text %></span>

  <% if CartRole.find(user.id).role_id == 2 && CartRole.where(user_id: current_user.id, cart_id: @cart.id, role_id: 1).size > 0 %>
    <%= link_to "Remove User", remove_user_path(User.find(user.user_id)), method: :delete, data: {confirm: "Remove #{User.find(user.user_id).name} from this cart?"} %>
  <% end %>
  <br>
<% end %>
<br>
<button data-key= <%= @cart.key %> class="FBInvite">Invite through Facebook</button>

<a href="/invite/<%= @cart.key %>">Invite Link</a>
