<h3><%= link_to 'Back', root_path %></h3>

<h1><%= @cart.name %></h1>

<h2><%= @cart.total %></h2>
<hr>

<div class="preferences">
  <h2 class="test">Notifcation Preferences</h2>
 
  <% if current_user.email %>
   <%= form_tag cart_preferences_path(@cart), method: :patch do %>
    <%= label_tag :notifications, "Email me for product milestones!" %>
      <% if CartRole.find_by(user_id: current_user.id, cart_id: @cart.id).notifications == true %>
        <%= check_box_tag :notifications, 1, {checked: true} %>
      <% else %>
        <%= check_box_tag :notifications, 2, false %>
      <% end %>    
    <%= submit_tag "Submit" %>
    <% end %>
  <% else %>
    <%= form_for current_user do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit %>
    <% end %> 
  <% end %>
 
</div>
<h1>List of products</h1>
<ul id="product-list">
<% if @products.size == 0 %>
  <p>No product yet.</p>
<% else %>
  <% @products.each do |product| %>
    <li>
      <h2><%= link_to product.display_name, product.url %> <%= product.price %> cents x <%= product.quantity %></h2>
      <p><%= link_to 'Edit', edit_carts_product_path(@cart, product) %> | <%= link_to 'Remove', carts_product_path(@cart, product), data: {:confirm => 'Are you sure?'}, :method => :delete  %></p>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to 'Add product', new_carts_product_path(@cart) %>
<hr>

<h1>List of contributors</h1>
<% @contributors.each do |user| %>
  <% @user = User.find(user.user_id) %>
  <span><%= @user.name %>:
  <%= Role.find(user.role_id).role_text %></span>

  <% if CartRole.find(user.id).role_id == 2 && CartRole.where(user_id: current_user.id, cart_id: @cart.id, role_id: 1).size > 0 %>
    <%= link_to "Remove User", carts_remove_user_path(@cart, @user), method: :delete, data: {confirm: "Remove #{@user.name} from this cart?"} %>
  <% end %>
  <br>
<% end %>
<br>
<button data-key= <%= @cart.key %> class="FBInvite">Invite through Facebook</button>

<a href="/invite/<%= @cart.key %>">Invite Link</a>
<%= render 'payment_form' %>
<%= render 'contributions' %>
